---
// src/pages/index.astro
import Head from '../components/Head.astro'; // Corrected path
---
<html lang="en">
  <head>
    <Head />
    <title>My Astro Blog</title>
  </head>
  <body>
    <h1>Welcome to the Blog!</h1>
    <p>This is the first page of the Astro blog, served from /blog.</p>
  </body>
</html>
